html{
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Shadows Into Light Two', cursive;
  font-family: 'Amatic SC', cursive;
  font-family: 'Lato', sans-serif;
}

h1{
  font-family: 'Lato', sans-serif;
  font-size: 28pt;
  margin-top: 0;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 24pt;
}

h3{
  font-size: 20pt;
  margin-top: 0;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
  color: #777;
  margin-top: 0;
  letter-spacing: 2px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar ul{
    font-size: 12pt;
    margin-top: 12px;
}

.navbar-header{
  height: 75px;
}

.navbar-header h1{
  font-family: 'Shadows Into Light', cursive;
  margin-left: 20px;
  color: #fff;
}

.navbar-default .navbar-nav>li>a{
  color: #eee;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.1);
}

.navbar-default {
  background: #0ACEA8;
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ED4747;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
  }
}

.navbar-toggle {
    border: none;
    margin-top: 20px;
}

#info-bar{
  height: auto;
  background-color: #3F79C3;
  margin-top: 0;
}

.info-bar-content h1{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .2em;
  padding-top: 35px;
  color: #fff;
}

.info-bar-content h3{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  letter-spacing: .2em;
  color: #fff;
  padding: 15px 25px 40px 25px;
  text-transform: uppercase;
}

#banner{
  margin: 50px 0;
}

.banner-img img{
  width: 100%;
  height: auto;
  border-radius: 100%;
  display: flex;
  align-items: center;
}

.img-responsive{
  max-width: 400px;
  min-width: 225px;
}

.banner-content{
  margin-top: 70px;
  padding-left: 30px;
}

#banner h1{
  color: #ED4747;
  font-size: 22pt;
  text-transform: uppercase;
}

.separator{
  position: relative;
  background-color: #0ACEA8;
  padding-bottom: 20px;
}

.arrow-down{
  color: #fff;
  position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}

.separator h2{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .2em;
  padding-top: 50px;
  color: #fff;
}

.separator h4{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: .2em;
  color: #fff;
  padding: 10px 0;
}

#info{
  height: auto;
}

.info-content{
  padding: 50px 0;
}

.btn-primary{
  color: #fff;
  background-color: #ED4747;
  border: none;
  text-transform: uppercase;
  margin-top: 25px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.btn-primary:hover{
  background-color: rgba(237,71,71,0.65);
}

.btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    color: #fff;
    background-color: #ED4747;
    border: none;
}

.btn-block{
  width: 60%;
  margin: 25px auto 0 auto;
}

.btn-block+.btn-block {
  margin-top: 25px;
}

.info{
  height: auto;
}

.info h3{
  color: #777;
  text-transform: uppercase;
  text-align: center;
}

.info h1{
  color: #ED4747;
  text-transform: uppercase;
  text-align: center;
}

.info p{
  font-size: 14pt;
  text-align: center;
}

.info-img{
  background-size: cover;
  background-position: center;
  height: 400px;
  overflow: hidden;
  padding: 0;
}

.info-img1{
  background-image: url(../img/bicycles.jpg);
}

.info-img2{
  background-image: url(../img/ocean.jpg);
}

#footer{
  height: 100%;
  background-color: #3F79C3;
  padding: 20px 0;
}

#footer p{
  color: #fff;
  padding-top: 15px;
}

#footer h5{
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 15px;
}

.contact-info p{
  font-size: 10pt;
}

.contact-info a{
  color: #fff;
}

.copyright-text{
  clear: both;
  padding-top: 45px;
}

.sm-icons{
  color: #3F79C3;
  width: 247px;
  margin: 0 auto;
}

.icon{
  height: 40px;
  width: 40px;
  color: #3F79C3;
  background-color: #fff;
  font-size: 1.7em;
  border-radius: 100%;
  display: inline-block;
  float: left;
  margin: 5px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.icon i{
  color: #0ACEA8;
  padding: 8px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.icon:hover{
  background-color: #0ACEA8;
}

.icon i:hover{
  color: #fff;
}


@media screen and (max-width: 1225px){
  .info-img{
    height: 420px;
  }
}

@media screen and (max-width: 1200px){
  .banner-img img{
    padding-top: 20px;
  }

  .banner-content{
    margin-top: 40px;
  }

}

@media screen and (max-width: 1138px){
  .info-img{
    height: 430px;
  }

  .info-content{
    padding: 40px 0;
  }

  h1{
    font-size: 26pt;
    margin-top: 0;
  }

  h3{
    font-size: 16pt;
    margin-top: 13px;
  }

  @media screen and (max-width: 992px){
    .info-img{
      height: 430px;
    }

    .info-content{
      padding: 40px 0;
    }

    h1{
      font-size: 24pt;
      margin-top: 0;
    }

    h3{
      font-size: 14pt;
      margin-top: 13px;
    }
  }

  @media screen and (max-width: 882px){
    .info-img{
      height: 430px;
    }

    .info-content{
      padding: 30px 0;
    }

    h1{
      font-size: 24pt;
    }

    h3{
      font-size: 14pt;
      margin-top: 13px;
    }
  }

  @media screen and (max-width: 843px) and (min-width: 768px){
    .extra-heading{
      display: none;
    }
  }

  @media screen and (max-width: 820px){
    .info-img{
      height: 430px;
    }

    .info-content{
      padding: 30px 0;
    }

    h1{
      font-size: 23pt;
    }

    h3{
      font-size: 14pt;
      margin-top: 13px;
    }

    p{
      line-height: 1.3;
    }
  }

  @media screen and (max-width: 768px){
    .banner-img img{
      margin: 0 auto;
    }

    .banner-content{
      text-align: center;
      padding-left: 10px;
    }

    .copyright-text{
      padding-top: 25px;
    }
  }
